<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="APP_HOME" value="/home/anthony/kiselev/projects/RestaurantManagementSystem"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${APP_HOME}/log/app.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.icoltd.rvs" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
