body {
    letter-spacing: 1px;
    font-family: 'Nadia Serif', sans-serif;
}

a {
    outline: none;
    text-decoration: none;
    font-size: 1.2rem;
}

div #title h1 {
    width: 100%;
    color: #FF5722;
}

#background-form {
    background: url("../../img/background.jpg");
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FF5722;
    border: none;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
}

.form-info {
    color: #FF5722;
    font-size: 1.1rem;
    width: 100%;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.jumbotron h1 {
    font-size: 3.25rem;
}

.navbar-light .navbar-brand, .jumbotron h1 {
    color: rgba(0, 0, 0, 0.5);
}

#btn-cancel {
    background: #FF5722;
    color: white;
}

#navContent input[type="submit"] {
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    text-decoration: none;
}

#navContent input[type="submit"]:hover {
    color: white;
}

.hvr-sweep-to-right:before {
    background: #f5ac1b;
}

.shadow-form {
    -webkit-box-shadow: 0 0 10px hsla(2, 0%, 0%, .3);
}

.input-group-text {
    width: 50px;
}

#main {
    padding-top: 5rem;
}

#title {
    border-radius: 10px 10px 0 0;
}

#form-content {
    border-radius: 0 0 10px 10px;
}

#form-content a {
    color: #FF5722;
}

#form-content a:hover {
    color: #FF5722;
    text-decoration: none;
}

button.confirm {
    background: #009688;
    color: white;
}

input[type="checkbox"]:checked {
    background: #FF5722;
}

button.confirm:hover {
    background: #00796B;
    color: #B2DFDB;
}

input:focus {
    outline: none;
}

input[class="form-control"]:hover, input[class="form-control"]:focus {
    border-color: #FF5722;
    box-shadow: 1px 1px 1px #FF5722;
}

