body {
    background: url("../../img/background.jpg");
    letter-spacing: 1px;
    font-family: 'Nadia Serif', sans-serif;
}

a {
    outline: none;
    text-decoration: none;
    font-size: 1.2rem;
    color: #FF5722 !important;
}

a:visited {
    color: #00796B;
}

a:hover {
    color: #FF5722 !important;
    text-decoration: none !important;
}

h1 {
    width: 100%;
    color: #FF5722;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FF5722;
    border: none;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
}

.form-info {
    color: #FF5722;
    font-size: 1.1rem;
    width: 100%;
}

#btn-cancel {
    background: #FF5722;
    color: white;
}

.shadow-form {
    -webkit-box-shadow: 0 0 10px hsla(2, 0%, 0%, .3);
}

.input-group-text {
    width: 50px;
}

#main {
    padding-top: 5rem;
}

#title {
    border-radius: 10px 10px 0 0;
}

#form-content {
    border-radius: 0 0 10px 10px;
}

button[type='submit'] {
    background: #009688;
    color: white;
}

input[type="checkbox"]:checked {
    background: #FF5722;
}

button[type='submit']:hover {
    background: #00796B;
    color: #B2DFDB;
}

input:focus {
    outline: none;
}

input[class="form-control"]:hover, input[class="form-control"]:focus {
    border-color: #FF5722;
    box-shadow: 1px 1px 1px #FF5722;
}

